@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: #191919;
}

/* ----------------------------------- HEADER */
header {
  background-color: #ffc017;
  height: 450px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #191919;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 60px;
  border-bottom: 1px solid #191919;
}

nav img {
  max-width: 130px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 155px;
}

nav ul li {
  font-size: 0.8em;
}

nav ul button {
  border: none;
  border-radius: 50px;
  background-color: #191919;
  color: white;
  padding: 10px 15px;
}

nav ul li:nth-of-type(1) {
  display: none;
}
nav ul li:nth-of-type(2) {
  display: none;
}
nav ul li:nth-of-type(3) {
  display: none;
}

/* TESTI */

#title {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto 0;
  width: 100%;
}

h1 {
  font-family: 'Spectral', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.3em;
  margin-bottom: 25px;
  letter-spacing: -0.05em;
}

h2 {
  margin-bottom: 25px;
  font-size: 1.2em;
  color: #191919b4;
}

#title button {
  border: none;
  border-radius: 50px;
  background-color: #191919;
  color: white;
  padding: 8px 50px;
  font-size: 1.1em;
}

/* ------------------------------------ MAIN */

/* PRIMA PARTE */

#prima-parte {
  padding: 35px 25px;
  padding-bottom: 15px;
}

/* TITOLETTO */

#trending {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#trending img {
  margin-right: 10px;
}

h3 {
  font-size: 0.8em;
  font-weight: 700;
  color: #191919da;
}

.elementi-trending {
  display: flex;
}

.numeri p {
  font-size: 1.8em;
  font-weight: 800;
  color: #19191924;
}

.account {
  display: flex;
  align-items: center;
}

.img-account {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-size: cover;
  margin-right: 10px;
}

.account p {
  font-size: 0.7em;
  font-weight: 500;
}

h4 {
  font-weight: 700;
  font-size: 0.9em;
  margin: 12px 0;
}

.letto img {
  display: none;
}

.letto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-ora {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 0.8em;
  color: #19191998;
}

.info-trending {
  padding: 4px 20px;
  padding-right: 0;
  margin-bottom: 20px;
}

.img1 {
  background-image: url(../imgs/image01.jpeg);
}
.img2 {
  background-image: url(../imgs/image02.png);
}
.img3 {
  background-image: url(../imgs/image03.jpeg);
}
.img4 {
  background-image: url(../imgs/image04.png);
}
.img5 {
  background-image: url(../imgs/image05.jpeg);
}
.img6 {
  background-image: url(../imgs/image06.png);
}
.img7 {
  background-image: url(../imgs/image07.jpeg);
}
.img8 {
  background-image: url(../imgs/image09.jpeg);
}
.img9 {
  background-image: url(../imgs/image11.jpeg);
}
.img10 {
  background-image: url(../imgs/image13.png);
}
.img11 {
  background-image: url(../imgs/image15.jpeg);
}
.img12 {
  background-image: url(../imgs/image17.png);
}
.img13 {
  background-image: url(../imgs/image19.jpeg);
}

hr {
  border-color: #1919191b;
}

/* SECONDA PARTE */

#seconda-parte {
  padding: 35px 25px;
}
